<!DOCTYPE html>
<html>
  <head>
    <title>Brushfire</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <!--STYLES END-->

    <!-- Expose sails locals on the window object -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: <%- typeof _csrf !== 'undefined' ? JSON.stringify(_csrf) : 'null' %>,

      me: <%-
      // Note that by putting these comments inside of the EJS tag, we prevent them from
      // being sent down to client (i.e. they are boiled away on the server along with the
      // EJS tags)
      //
      // Notice we must check that `me` exists using typeof to keep EJS from throwing
      // and displaying an ugly error message when rendering certain pages
      // (i.e. 404 /500 error pages)
      typeof me !== 'undefined' ? JSON.stringify(me) : 'null'
      // Note that we deliberately use 'null' (a string) because EJS converts the `null` literal
      // into empty string (''), which is not what we want (that would be invalid JS and cause a
      // client-side error in the browser)
      %>
    };
    </script>

  </head>
  <body ng-app="brushfire">
    <%- partial('./partials/navigation.ejs') %>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!-- This tells the WebSocket client automatically send the _csrf token in every WebSocket request -->
    <script src="/js/dependencies/sails.io.js" headers='{"x-csrf-token":<%- typeof _csrf !== 'undefined' ? JSON.stringify(_csrf) : 'null' %>}'></script>


    <!--SCRIPTS-->
    <!--SCRIPTS END-->
    <script type="text/javascript">
      io.sails.headers = {  //#A
        'x-csrf-token': window.SAILS_LOCALS._csrf
      }
    </script>
  </div>
</body>
</html>
