<script type="text/javascript">
  window.SAILS_LOCALS.frontEnd = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof frontEnd !== 'undefined' ? JSON.stringify(frontEnd) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
    %>;
</script>
<div ng-controller="profilePageController" ng-cloak class="profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-stats list-group">
          <div class="profile-item list-group-item">
            <div class="avatar-container">
              <img class="avatar-img" src="<%= gravatarURL %>"/>
            </div>
          </div>
          <div class="profile-item list-group-item">
            <!-- <i class="fa fa-asterisk"></i> -->
            <span class="badge">{{ numOfTutorials }}</span>
            Tutorials
          </div>
          <a class="profile-item list-group-item"href="/<%= username %>/following">
            Following
            <span class="badge">{{ numOfFollowing }}</span>
          </a>
          <a class="profile-item list-group-item" href="/<%= username %>/followers">
            <span class="badge">{{ numOfFollowers }}</span>
            Followers
          </a>
        </div>
      </div>
      <div class="tutorials col-md-9">
        <div class="tutorial-list list-group">
          <div class="list-group-item list-group-header">
            <% if (me && me.isMe ) { %>
            <h1>My Tutorials</h1>
            <% } else { %>
            <h1><%= username %>'s Tutorials</h1>
            <% } %>
          </div>
        <% if (tutorials.length === 0) { %>
        <div class="list-group-item empty-state">
          <% if (me && me.isMe ) { %>
          <p> You don’t have any tutorials yet. Want to <a href="/tutorials/new">add one</a>? </p>
          <% } else { %>
          <p> This user has not created any tutorials.</p>
          <% } %>
        </div>
        <% } else { %>
          <% _.forEach(tutorials, function(tutorial){ %>
          <a href="/tutorials/<%= tutorial.id %>" class="list-group-item tutorial">
            <h3 class="tutorial-title list-group-item-heading">
            <%- tutorial.title %>
            </h3>
            <p class="tutorial-description list-group-item-text">
              <%- tutorial.description %>
            </p>
            <ul class="tutorial-info list-inline list-unstyled">
              <li>
                <i class="icon fa fa-user"></i>
                <span>By <%= tutorial.owner %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <span>Created </i>  <%- tutorial.created %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <span><i class="icon fa fa-video-camera"></i>  <%- tutorial.totalTime %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <span class="rating-label">Average Rating:</span>
                <span class="rating-stars">
                  <% for (i = 0; i < tutorial.averageRating; i++) {  %>
                  <span class="fa fa-star"></span>
                  <% } %>
                  <% for (i = 0; i < 5-tutorial.averageRating; i++) {  %>
                  <span class="fa fa-star-o"></span>
                  <% } %>
                </span>
              </li>
            </ul>
          </a>
          <% }) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>