<div ng-controller="tutorialsSearchPageController" ng-cloak>
  <div class="container">
    <div class="row col-md-6 col-md-offset-3" style="margin-bottom: 50px;">
      <h1> What do you want to learn?</h1>
      <form class="form" role="search">
        <div class="input-group" >
          <input style="font-size: 1.5em" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" ></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="row col-md-12">
      <div>
        <h1>Search Results</h1>
      </div>
      <div class="well">
        <div class="list-group">
          <% _.forEach(tutorials, function(tutorial){ %>
          <a href="/tutorials/detail" class="list-group-item tutorials-list">
            <div class="col-md-11" style="margin-top: 25px">
              <h3 class="list-group-item-heading">
              <%- tutorial.title %>
              </h3>
              <p class="list-group-item-text" style="font-size: 1.2em">
                <%- tutorial.description %>
              </p>
              <ul class="list-inline list-unstyled">
                <li>|</li>
                <li>
                  <span>by: <i class="fa fa-user"></i>  <%- tutorial.owner %></span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-calendar"></i>  <%- tutorial.createdOn %></span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-video-camera"></i>  <%- tutorial.totalTime %></span>
                </li>
                <li>|</li>
                <li>
                  <% for (i = 0; i < tutorial.stars; i++) {  %>
                  <span class="fa fa-star"></span>
                  <% } %>
                  <% for (i = 0; i < 5-tutorial.stars; i++) {  %>
                  <span class="fa fa-star-o"></span>
                  <% } %>
                </li>
                <li>|</li>
              </ul>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>