<script type="text/javascript">
  window.SAILS_LOCALS.tutorial = <%-
  // Note that by putting these comments inside of the EJS tag, we prevent them from
  // being sent down to client (i.e. they are boiled away on the server along
  // with the EJS tags)
  //
  // Notice we must check that `stars` exists using typeof to keep EJS from throwing
  // and displaying an ugly error message when rendering certain pages
  // (i.e. 404 /500 error pages)
  typeof tutorial !== 'undefined' ? JSON.stringify(tutorial) : 'null'
  // Note that we deliberately use 'null' (a string) because EJS converts the
  // `null` literal  into empty string (''), which is not what we want (that would
  // be invalid JS and cause a client-side error in the browser)
  %>;
</script>
<div ng-controller="tutorialsDetailVideoEditPageController" ng-cloak class="panel-page">
  <div class="container well">
    <h1>Tutorial</h1>
    <div class="list-group">
      <!-- Tutorial Details -->
      <div class="tutorials-detail list-group-item clearfix">
        <div class="col-md-8">
          <h3 class="list-group-item-heading">
            <%= tutorial.title %>
          </h3>
          <p class="list-group-item-text">
            <%= tutorial.description %>
          </p>
          <ul class="list-inline list-unstyled">
            <li>|</li>
            <li>
              <span>by: <i class="fa fa-user"></i>  <%= tutorial.owner %> </span>
            </li>
            <li>|</li>
            <li>
              <span>created <%= tutorial.created %></span>
            </li>
            <li>|</li>
            <li>
              <% if (!tutorial.totalTime) { %>
                <span><i class="fa fa-video-camera"></i> no length set</span>
              <% } else { %>
                <span><i class="fa fa-video-camera"></i>  <%= tutorial.totalTime %></span>
              <% } %>
            </li>
            <li>|</li>
            <li>
              <span>rating average: <rating ng-model= "tutorial.averageRating" max="max" readonly="true"></rating></span>
            </li>
            <li>|</li>
          </ul>
        </div> <!-- class="col-md-8"-->
      </div> <!-- class="tutorials-detail list-group-item" -->
    </div>  <!-- <div class="list-group"> -->

    <!-- add video -->
    <div class="row well">
      <!-- grey background with border -->

      <!-- The Form -->
      <form ng-submit="submitEditVideoForm()" name="editVideo">
        <h1>Edit video...
        <span class="pull-right">
          <a href="/tutorials/<%=tutorial.id%>" class="btn btn-default">cancel</a>
          <button type="submit"  ng-disabled="editVideo.$invalid" class="btn btn-success">save</button>
        </span>
        </h1>
        <!-- T I T L E -->
        <div class="form-group" ng-class="{'has-error':editVideo.title.$invalid &&editVideo.title.$dirty}">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" autofocus placeholder="How to do almost anything." ng-model="title" required name="title">
        </div>
        <span class="help-block has-error" ng-if="editVideo.title.$dirty">
                <span ng-show="editVideo.title.$error.required">A title is required.</span>
              </span>
        <!-- Y O U T U B E  U R L -->
        <div class="form-group form-inline" ng-class="{'has-error':editVideo.src.$invalid &&editVideo.src.$dirty}">
          <label for="youtubeURL">Youtube URL</label>
          <input type="text" class="form-control" id="youtubeURL" placeholder="https://www.youtube.com/embed/X9sIGpnpZeU" ng-model="src" size="50" name="src" required>
          <button class="btn btn-primary" ng-click="parseUrl($event)">parse video</button>
          <span ng-show="tutorialsDetailVideoEdit.invalidUrl">Not a valid YouTube Url</span>
          <span class="help-block has-error" ng-if="editVideo.src.$dirty">
                  <span ng-show="editVideo.src.$error.required">A src URL is required.</span>
                </span>
        </div>

        <div class="form-group" ng-class="{'has-error':editVideo.minutes.$invalid &&editVideo.minutes.$dirty}">
          <div class="form-inline">

            <!-- How long is this video? -->
            <label for="lengthMin">How long is this video?</label>

            <input type="number" class="form-control" id="lengthHours" placeholder="hours" ng-model="hours" name="hours" required>

            <input type="text" class="form-control" id="lengthMin" placeholder="minutes" ng-model="minutes" name="minutes" required>

            <div class="form-group" ng-class="{'has-error':editVideo.seconds.$invalid &&editVideo.seconds.$dirty}">
              <input type="text" class="form-control" id="lengthSec" placeholder="seconds" ng-model="seconds" name="seconds" required>
            </div>
            <span class="help-block has-error" ng-if="editVideo.minutes.$dirty">
                    <span ng-show="editVideo.minutes.$error.required">A number must be entered for this field.</span>
                  </span>
                  <span class="help-block has-error" ng-if="editVideo.seconds.$dirty">
                    <span ng-show="editVideo.seconds.$error.required">Needs a number.</span>
                  </span>
          </div>
        </div>

        <!-- P R E V I E W -->
        <div class="row">
          <div class="panel panel-default col-md-4 col-md-offset-4">
            <!-- Show the default image if no youtube video has been parsed. -->
            <div ng-hide="tutorialsDetailVideoEdit.hasSrc">
              <img src="/images/preview.jpg" />
            </div>
            <div ng-hide="tutorialsDetailVideoEdit.iframeHide">
              <iframe class="center-block" width="320" height="195"  frameborder="0" allowfullscreen ng-src="{{src}}">
              </iframe>
            </div>
          </div>
        </div>
      </form>
    </div> <!-- class="row well" -->
  </div> <!-- class="container well" -->
</div>  <!-- ng-controller="tutorialsDetailVideoNewPageController" -->