<div class="container">
  <div class="row">
    <div class="well">
      <div class="list-group">
        <!-- Tutorial Details -->
        <div class="tutorials-detail list-group-item">
          <div class="col-md-8" style="margin-top: 25px">
            <h3 class="list-group-item-heading">
            <%= fakeTutorialsDetail.title %>
            </h3>
            <p class="list-group-item-text" style="font-size: 1.2em">
              <%= fakeTutorialsDetail.description %>
            </p>
            <ul class="list-inline list-unstyled">
              <li>|</li>
              <li>
                <span>by: <i class="fa fa-user"></i>  <%= fakeTutorialsDetail.owner %> </span>
              </li>
              <li>|</li>
              <li>
                <span><i class="fa fa-calendar"></i>  <%= fakeTutorialsDetail.createdOn %></span>
              </li>
              <li>|</li>
              <li>
                <span><i class="fa fa-video-camera"></i>  <%= fakeTutorialsDetail.totalTime %> </span>
              </li>
              <li>|</li>
              <li>
                <% for (i = 0; i < fakeTutorialsDetail.stars; i++) {  %>
                <span class="fa fa-star"></span>
                <% } %>
                <% for (i = 0; i < 5-fakeTutorialsDetail.stars; i++) {  %>
                <span class="fa fa-star-o"></span>
                <% } %>
              </li>
              <li>|</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- add video -->
      <div class="row">
        <!-- grey background with border -->
        <div class="container well">
          <form role="form" class='form-horizontal'>
            <div class="form-group">
              <!-- white background with border -->
              <div class="list-group-item">
                <label for="title" class=" control-label" style="font-size: 1.5em">Video Title</label>
                <input type="text" class="form-control" name="title" placeholder="e.g. tutorial title" style="font-size: 1.5em">
                <label for="title" class=" control-label" style="font-size: 1.5em">External Youtube URL</label>
                <input type="text" class="form-control" name="title" placeholder="e.g. tutorial title" style="font-size: 1.5em">
              
                <label for="title" class=" control-label" style="font-size: 1.5em">External Youtube URL</label>
                <input type="text" class="form-control" name="title" placeholder="e.g. tutorial title" style="font-size: 1.5em">
                <label for="title" class=" control-label" style="font-size: 1.5em">External Youtube URL</label>
                <input type="text" class="form-control" name="title" placeholder="e.g. tutorial title" style="font-size: 1.5em">
              
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>