<div ng-controller="tutorialsListPageController" ng-cloak>
  <div class="container">
    <div class="row">
      <div class="well">
        <div class="list-group">
          <% _.forEach(fakeTutorialsList, function(tutorial){ %>
          <a href="/tutorials-detail" class="list-group-item tutorials-list">
            <div class="col-md-11" style="margin-top: 25px">
              <h3 class="list-group-item-heading"> 
                <%- tutorial.title %> 
              </h3>
              <p class="list-group-item-text" style="font-size: 1.2em"> 
                <%- tutorial.description %>
              </p>
              <ul class="list-inline list-unstyled">
                <li>|</li>
                <li>
                  <span>by: <i class="fa fa-user"></i>  <%- tutorial.owner %></span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-calendar"></i>  <%- tutorial.createdOn %></span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-camera"></i>  <%- tutorial.totalTime %></span>
                </li>
                <li>|</li>
                <li>
                  <% for (i = 0; i < tutorial.stars; i++) {  %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <% for (i = 0; i < 5-tutorial.stars; i++) {  %>
                    <span class="fa fa-star-o"></span>
                  <% } %>
                </li>
                <li>|</li>
              </ul>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>