<script type="text/javascript">
  window.SAILS_LOCALS.tutorial = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof tutorial !== 'undefined' ? JSON.stringify(tutorial) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
  %>;

</script>

<div class="tutorial-details" ng-controller="tutorialsDetailPageController" ng-cloak>
  <div class="container">
    <div class="well">
      <div class="panel panel-default">
        <!-- Tutorial Details -->
        <div class="panel-body">
          <h1 class="tutorial-title text-info">
            <%= tutorial.title %>
          </h1>

          <div class="row">
            <div class="col-md-6">
              <p class="tutorial-description">
                <%= tutorial.description %>
              </p>
            </div>
            <div class="col-md-6">
              <!-- Edit, Delete, Add Video -->
              <% if (me && me.isMe) { %>
              <div>
                <ul class="list-inline list-unstyled text-right">
                  <li><a href="/tutorials/<%= tutorial.id %>/edit" class="btn btn-default">edit</a></li>
                  <li><a ng-click="deleteTutorial(<%= tutorial.id %>)" class="btn btn-default">
                      <span ng-show="!tutorialDetails.deleteTutorialLoading">delete</span>
                      <span class="overlord-loading-spinner fa fa-spinner" ng-show="tutorialDetails.deleteTutorialLoading" ></span>
                      <span ng-show="tutorialDetails.deleteTutorialLoading"></span>
                      </a></li>
                  <li><a href="/tutorials/<%= tutorial.id %>/videos/new" class="btn btn-default">add video</a></li>
                </ul>
              </div>
              <% } %>
            </div>
          </div>
          <!-- inline created, Modified, duration, rating, myRating  -->
          <div class="tutorial-info">
            <ul class="list-inline">
              <li>By <strong><a href="/<%= tutorial.owner %>"><%= tutorial.owner %></a></strong></li>
              <li class="divider">|</li>
              <li>
                <span>Created  <%= tutorial.created %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <span>Modified  <%= tutorial.updated %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <% if (!tutorial.totalTime) { %>
                  <span><i class="icon fa fa-video-camera"></i> no length set</span>
                <% } else { %>
                  <span><i class="icon fa fa-video-camera"></i>  <%= tutorial.totalTime %></span>
                <% } %>
              </li>
              <li class="divider">|</li>
              <li>
                <!-- Empty state of tutorial.averageRating -->
                <% if (!tutorial.averageRating) { %>
                  <span>Average Rating: <i>none</i></span>
                <% } else { %>
                  <!-- tutorial.averageRating -->
                  <span>
                    <span class="rating-label">Average Rating:</span>
                    <span class="rating-stars">
                      <rating ng-model="averageRating" max="max" readonly="true"></rating>
                    </span>
                  </span>
                <% } %>
              </li>
              <!-- Don't show myRating unless authenticated -->
              <% if (me && !me.isMe) { %>
                <li class="divider">|</li>
                <li>
                  <span>myRating: <rating ng-model="myRating" max="max" readonly="isReadonly" on-hover="hoveringOver(value, <%= tutorial.id %>)"></rating></span>
                  <span ng-show="tutorialDetails.loading" class="fa fa-spinner"></span>
                  <span ng-hide="hideChangeRating">
                    <button ng-click="changeRating()" class="btn btn-primary btn-xs">change</button>
                  </span>
                </li>
              <% } %>
            </ul> <!-- class="list-inline list-unstyled" -->
          </div> <!-- </tutorial-info> -->
        </div> <!-- </panel-body> -->
      </div> <!-- </panel> -->
      <div class="video-list">
        <!-- Videos -->
        <ul class="list-group list-unstyled">
          <!-- Empty video state -->
          <% if (me && me.isMe) { %>
            <% if (typeof tutorial.videos === 'undefined' || tutorial.videos && tutorial.videos.length < 1) { %>
              <p>you don’t have any videos yet, want to <a href="/tutorials/<%= tutorial.id %>/videos/new">add</a> one? </p>
            <% } %>
          <% } else { %>
            <% if (typeof tutorial.videos === 'undefined' || tutorial.videos && tutorial.videos.length < 1) { %>
              <p>no videos yet...</p>
            <% } %>
          <% } %>
          <% _.forEach(tutorial.videos, function(video, i){ %>
            <a href="/tutorials/<%=tutorial.id %>/videos/<%=video.id %>/show" class="list-group-item">
              <li><span class="number text-primary"><%= i + 1 %>.</span> <%= video.title %>
                <ul class="list-inline  pull-right">
                  <li>
                    <i class="icon fa fa-clock-o text-info"></i>
                    <span class="video-time"><%= video.totalTime %></span>
                  </li>
                  <% if (me && me.isMe) { %>
                    <li><button ng-click="editVideo($event, <%= video.id %>)">edit</button></li>
                    <li>
                      <button ng-click="deleteVideo($event, <%= video.id %>, <%= i %>)">
                        <span ng-show="tutorialDetails.deleteVideoLoading!==<%= i %>">delete</span>
                        <span class="overlord-loading-spinner fa fa-spinner" ng-show="tutorialDetails.deleteVideoLoading===<%= i %>" ></span>
                        <span ng-show="tutorialDetails.deleteVideoLoading===<%= i %>">deleting video...</span>
                      </button>
                    </li>
                    <% if (i > 0) { %>
                      <li><i class="fa fa-arrow-up" ng-click="moveVideoUp($event, <%= video.id %>)"></i></li>
                    <% } %>
                    <% if (i < tutorial.videos.length-1) { %>
                      <li><i class="fa fa-arrow-down" ng-click="moveVideoDown($event, <%= video.id %>)"></i></li><% }%>
                  <% } %>
                </ul>
              </li>
            </a>
          <% }) %>
        </ul> <!-- class="list-group list-unstyled"> -->
      </div> <!-- class="video-list"> -->
    </div>
  </div> <!-- class="container"> -->
</div> <!-- ng-controller="tutorialsDetailPageController" ng-cloak> -->